@import "@/app/variables.module";

.Button {
  background-color: $red-dark;
  border-radius: 2rem;
  color: white;
  padding: 0.8rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  transition: all 0.2s;
  width: 100%;
}
.Button:hover {
  cursor: pointer;
  transition: all 0.2s;
  background-color: $red-light;
  color: $black-text;
}
